/* Header Styling */
.container_header {
   color: #0F427A;
   padding-top: 5px;
   text-align: center;
}

/* Body Styling */
body {
    margin: 0;
    padding: 0;
 }
 h1 {
   color: #0F427A;
}

/* Navigation */
#navi {
   -ms-flex-item-align: end;
}

 /*  Hero Section Styling */
 #hero {
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
#hero::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url(images/Ride1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   filter: brightness(60%);
}
#hero-content {
   position: relative;
   font-family: "Monserrat", sans-serif;
   color: white;
   text-align: center;
   margin: 0.625rem;
}
.hero-title {
   font-size: 3rem;
   font-weight: 600;
   margin-bottom: 0;
}
.hero-subtitle {
   font-size: 2rem;
   font-weight: 200;
   margin-top: 0.5rem;
}
.navbar-brand {
   font-size: x-large;
}
.dropoff, .pickup, .search_button {
   border-radius: 4px;
   border: none;
   padding: 7px;
   font-family: "Monserrat", sans-serif;
   display: inline-block;
   margin-top: 0.3rem;
   font-size: 1rem;
   width: 100%;
}
@media screen and (min-width: 900px) {
   .dropoff, .pickup, .search_button { width: 35%;}
}
#form {
   padding: 5px;
}
.search_button {
   background-color: #0F427A;
   color: white;
   border: 1px solid #0F427A;
   margin-top: 0.3rem;
   padding: 7px 10px;
   font-family: "Monserrat", sans-serif;
   font-size: 1rem;
   font-weight: 200;
   cursor: pointer;
   size: 10cm;
}
.search_button:hover {
   background-color: green;
   border: 1px solid green;
}
 /* Become a Driver/Rider Styling */
.driver_learn_more {
   background-color: #F8F8F8;
   border: none;
   color: #0F427A;
   padding: 10px 32px;
   text-align: left;
   display: inline-block;
   font-size: 16px;
}
.driver_learn_more:hover {
   background-color: #0F427A;
   border: none;
   color: white;
}
.rider_learn_more {
   background-color: #F8F8F8;
   border: none;
   color: #0F427A;
   padding: 10px 32px;
   text-align: left;
   display: inline-block;
   font-size: 16px;
}
.rider_learn_more:hover {
   background-color: #0F427A;
   border: none;
   color: white;
}
div.a, div.b {
   height: 10px;
}
.row {
   color: #0F427A;
}
p1 {
   color: black;
}
.container {
   color: #0F427A;
}

/* Testimonials Styling */
.container_testimonial {
  border: 1px solid #ccc;
  background-color: #F8F8F8;
  background-color: #F8F8F8;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  margin: 16px 0;
}
.container_testimonial::after {
  content: "";
  clear: both;
  display: table;
}
.container_testimonial img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
.container_testimonial span {
  font-size: 20px;
  margin-right: 15px;
}
@media (max-width: 500px) {
   .container_testimonial {
      text-align: center;
  }
  .container_testimonial img {
      margin: auto;
      float: none;
      display: block;
  }
}

/* FAQ Styling */
.container_testimonial_section {
   color: #0F427A;
}

/* Footer styling */
footer {
   text-align: center;
}
.sitemap {
   list-style-type: none;
   display: inline;
   color: black;
   text-decoration: none;
}
.terms_and_conditions, .about, .contact_us, .need_a_ride_footer, .give_a_ride_footer, .testimonies_footer, .faqs_footer, .safety_footer {
   text-decoration: none;
   color: gray;
}
.contact_us:hover, .about:hover, .terms_and_conditions:hover, .need_a_ride_footer:hover, .give_a_ride_footer:hover, .testimonies_footer:hover, .faqs_footer:hover, .safety_footer:hover  {
   color: black;
}
.twitter {
   max-width: 20px;
}
.facebook {
   max-width: 20px;
}
.instagram {
   max-width: 20px;
}
.skype {
   max-width: 20px;
}
.whatsapp {
   max-width: 20px;
}
#container_socials {
   padding: 20px;
}
footer {
   border-top: 23px;
}
#footer {
   padding-top: 30px;
   border-top: solid;
   border-color: #e6e5e5;
   border-width: 1px;
#footer3 {
   color: gray;
}
}
#div_socials {
   align-content: center;
   align-items: center;
   text-align: center;
}
