h1, h2, ul, a {
    margin: 0;
    padding: 0;
    color: white;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: large;
}

a {
    font-size: small;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #252b33;
    text-align: center;
    padding: 40px;
    color: white;
}

nav ul {
    list-style-type: none

}

.nav:hover {
    color: aqua;
}

nav ul li {
    display: inline;
    font-size: larger;
    color: rgb(149, 191, 11);
    margin-right: 5px;
}

footer {
    background-color: #60738f;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

p1 {
    color: #60738f;
}

li {
    color: aliceblue;
}

h4 {
    color: #ffffff;
    font-size: smaller;
}

p4 {
        color: white;
}

section {
    padding-top: 30px;
}